@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

html, body, .container
{
    height: 100%;
}

.container
{
    display: flex;
    background: #11101d;
}

/* SIDEBAR CSS */
.sidebar
{
    float: left;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    background: #41404a;
    padding: 6px 14px;
}

.sidebar .logo_content .logo
{
    display: flex;
    color: #fff;
    height: 50px;
    width: 100%;
    align-items: center;
}

.logo_content .logo i
{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name
{
    font-size: 20px;
    font-weight: 400;
}

.sidebar ul
{
    margin-top: 20px;
}

.sidebar ul li
{
    position: relative;
    height: 60px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li a
{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
}

.sidebar ul li a:hover
{
    color: #11101d;
    background: #fff;

}

.sidebar ul li i
{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links_name
{
    opacity: 1;
    pointer-events: none;
}

.sidebar .links_name
{
    opacity: 1;
    pointer-events: none;
}

/* css for all pages */
.page
{
    flex: 1;

    display: flex;
    align-self: center;
    padding-left: 80px;
    padding-bottom: 100px;
    color: #fff;
}

/* css for "about" page */
.profile_description
{
    width: 500px;
    padding-top: 100px;
}

/* css for projects page */
.projects_container
{
    padding-left: 25px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tile
{
    background-color: #433f72;
    width: 300px;
    height: 270px;
    margin: 10px;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
    /* margin-right: 25px; */
}

.tile hr
{
    width: 270px;
    justify-self: center;
    margin: auto;
}

.tile h4
{
    padding-top: 10px;
}